:root {
  --width-content: 700px; /** overwrite 1080px */
}

nav.justify-content-end {
  justify-content: end; /** overwrite space-between */
}

nav.margin-bottom-0 {
  margin-bottom: 0; /** overwrite 7rem */
}

canvas#canvas {
  width: 100%;
  max-width: var(--width-content);
}

.border-solid-1px {
  border: solid 1px;
}

.display-block {
  display: block;
}

.circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.bg-ffe0c1 {
  background-color: #ffe0c1;
}

.bg-c1e0ff {
  background-color: #c1e0ff;
}

.vertical-align-text-top {
  vertical-align: text-top;
}

.margin-left-2 {
  margin-left: 2px;
}
